<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer' /> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/style.css">
    <title>To Do App</title>
</head>
<body>
<div id="app">
    <div class="container">
        <img src="./assets/img/logo.png" width="400px" alt="">
        <div class="insert_task">
            <input type="text" class="add_task" required placeholder="Add a new task">
            <button  @click="new_task" class="btn">Add Task</button>
        </div>

        <div class="list_to_do">
            <ul>
                <li v-if="task.done == true" class="done_todo" v-for="(task, index) in tasks "> 
                   <div class="task">
                        {{task.text}}<i  @click="delete_todo(index)" class="fa-solid delete fa-trash-can"></i>
                      
                   </div>
                   
                </li>
                
                
            </ul>
        </div>
    </div>
</div>

    
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>"
    <script src="./assets/javascript/app.js"></script>
</body>
</html>